package pages

import (
	"github.com/nicksnyder/go-i18n/v2/i18n"
)

templ Index(lzr *i18n.Localizer) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ localize(lzr,"todos") }</title>
			<link rel="stylesheet" href="css/pico.min.css"/>
			<!-- link rel="stylesheet" href="css/simple.min.css"/ -->
			<script src="js/htmx.min.js"></script>
			<script src="js/sse.js"></script>
		</head>
		<body id="top">
			<main class="container">
				<header>
					<h1>{ localize(lzr,"todos") }</h1>
				</header>
				<div hx-ext="sse" sse-connect="/events?stream=progress" sse-swap="Progress"></div>
				<div id="form">
					<form hx-post="todos/add" hx-target="#todos">
						<input type="text" id="task" name="task"/>
						<br/>
						<input type="submit" value={ localize(lzr, "add") }/>
					</form>
				</div>
				<div id="todos" hx-get="todos" hx-trigger="load"></div>
			</main>
		</body>
	</html>
}
