package pages

import (
	"dredgerTodos/entities"
	"fmt"
	"github.com/nicksnyder/go-i18n/v2/i18n"
)

func showDone(done bool) string {
	if done {
		return "✓"
	} else {
		return "❏"
	}
}

templ Todos(lzr *i18n.Localizer, todos *entities.ToDos) {
	<table>
		<tr>
			<th></th>
			<th>{ localize(lzr,"task") }</th>
			<th></th>
		</tr>
		for _, id := range todos.Ids() {
			<tr>
				<td style="cursor:pointer" hx-get={ "todos/done/" + fmt.Sprint(id) } hx-target="#todos" hx-trigger="click">{ showDone(todos.Done(id)) }</td>
				<td>{ todos.Task(id) }</td>
				<td style="cursor:pointer" hx-delete={ "todos/" + fmt.Sprint(id) } hx-target="#todos" hx-trigger="click">🗑️</td>
			</tr>
		}
	</table>
}
